.biography{
    padding:2px;
    background-color: beige;
}


h1{
    color: blue;
}

.pics{
    padding:50px;
    text-align: center;
}

.pics h2 {
    font-size:30px;
    color: blue;
    margin-bottom:10px;
}

.pics p {
    font-style: oblique;
    margin-bottom:10px;
}

.gallery{
    display: grid;
    gap:100px ;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-item {
    background:#f9f9f9;
    border-radius:20px;
    box-shadow:0 2px 3px rgba(0,0,0,0.1);
}

.gallery-item img {
    width:100%;
    height:200px;
    object-fit: cover;
}

.gallery-item:hover {
    transform: translateY(-5px);
}