.biography{
    padding:2px;
    background-color: beige;
}


h1{
    color: blue;
}

.pics{
    padding:50px;
    text-align: center;
}

.pics h2 {
    font-size:30px;
    color: blue;
    margin-bottom:10px;
}

.pics p {
    font-style: oblique;
    margin-bottom:10px;
}